---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/forecast.json?days=5&key=<WEATHER_API_KEY>&q=37.67537,-106.35347
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999999'
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 01/13/2024 00:54:57
      Cdn-Edgestorageid:
      - '871'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - 292d32305117a458f3ab2bf8381d4f06
      Cdn-Cache:
      - MISS
    body:
      encoding: UTF-8
      string: '{"location":{"name":"Del Norte","region":"Colorado","country":"United
        States of America","lat":37.68,"lon":-106.35,"tz_id":"America/Denver","localtime_epoch":1705107261,"localtime":"2024-01-12
        17:54"},"current":{"last_updated_epoch":1705106700,"last_updated":"2024-01-12
        17:45","temp_c":-5.0,"temp_f":23.0,"is_day":0,"condition":{"text":"Overcast","icon":"//cdn.weatherapi.com/weather/64x64/night/122.png","code":1009},"wind_mph":24.2,"wind_kph":38.9,"wind_degree":290,"wind_dir":"WNW","pressure_mb":1005.0,"pressure_in":29.68,"precip_mm":0.0,"precip_in":0.0,"humidity":42,"cloud":100,"feelslike_c":-12.9,"feelslike_f":8.8,"vis_km":16.0,"vis_miles":9.0,"uv":2.0,"gust_mph":36.7,"gust_kph":59.1},"forecast":{"forecastday":[{"date":"2024-01-12","date_epoch":1705017600,"day":{"maxtemp_c":-8.5,"maxtemp_f":16.7,"mintemp_c":-22.9,"mintemp_f":-9.3,"avgtemp_c":-15.7,"avgtemp_f":3.7,"maxwind_mph":19.2,"maxwind_kph":31.0,"totalprecip_mm":0.01,"totalprecip_in":0.0,"totalsnow_cm":0.0,"avgvis_km":9.9,"avgvis_miles":6.0,"avghumidity":67,"daily_will_it_rain":0,"daily_chance_of_rain":0,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Sunny","icon":"//cdn.weatherapi.com/weather/64x64/day/113.png","code":1000},"uv":3.0},"astro":{"sunrise":"07:21
        AM","sunset":"05:08 PM","moonrise":"08:42 AM","moonset":"06:39 PM","moon_phase":"Waxing
        Crescent","moon_illumination":1,"is_moon_up":1,"is_sun_up":1},"hour":[{"time_epoch":1705042800,"time":"2024-01-12
        00:00","temp_c":-22.6,"temp_f":-8.7,"is_day":0,"condition":{"text":"Clear","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":9.8,"wind_kph":15.8,"wind_degree":267,"wind_dir":"W","pressure_mb":1026.0,"pressure_in":30.3,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":73,"cloud":8,"feelslike_c":-32.4,"feelslike_f":-26.3,"windchill_c":-32.4,"windchill_f":-26.3,"heatindex_c":-22.6,"heatindex_f":-8.7,"dewpoint_c":-26.4,"dewpoint_f":-15.4,"will_it_rain":0,"chance_of_rain":0,"will_it_snow":0,"chance_of_snow":0,"vis_km":10.0,"vis_miles":6.0,"gust_mph":20.7,"gust_kph":33.3,"uv":1.0},{"time_epoch":1705046400,"time":"2024-01-12
        01:00","temp_c":-22.8,"temp_f":-9.0,"is_day":0,"condition":{"text":"Clear","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":10.1,"wind_kph":16.2,"wind_degree":270,"wind_dir":"W","pressure_mb":1026.0,"pressure_in":30.3,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":72,"cloud":8,"feelslike_c":-32.6,"feelslike_f":-26.7,"windchill_c"[...]
